@charset "utf-8";
body{
	background:rgb(230,230,230);
}
hr{
	background:rgb(10,160,220);
	color:rgb(10,160,220);
	height:5px;
	width:100%;
}
#header{
	width:100%;
	min-width:1000px;
	height:120px;
	background:rgb(10,160,220);
}

#header .title{
	color:white;
	font-size:3.5em;
	font-weight:bolder;
	font-family:"楷体";
	position:absolute;
	left:40%;
	top:40px;
	width:500px;
}

#content{
	width:100%;
	min-width:1000px;
}
#content .show{
	float:left;
	margin-left:5%;
	width:70%;
	height:60%;
}
#book_query{
	position:relative;
	left:100px;
}
#book_form span{
	font-size:1.2em;
	font-weight:bolder;
	font-family:"楷体";
	color:rgb(10,160,220);
}
#content .show .module{
	margin-top:20px;
}
#room_floor{
	float:left;
	height:50px;
	margin-left:40px;
}
#room_floor span{
	margin-left:20px;
	background:rgb(10,160,220);
	border-radius:5px;
	cursor:pointer;
	font-size:1.5em;
	font-weight:bolder;
	font-family:"隶书";
	color:white;
}
#room_floor .rf_selected{
	background:white;
	color:rgb(10,160,220);
}
#room_inf{
	height:500px;
	width:100%;
	border:solid 3px rgb(10,160,220);
	clear:left;
}
#rb_arrow{
	position:relative;
	left:100px;
	width:30px;
	clear:left;
}
#rb_arrow img{
	width:30px;
}
#content .room{
	background:rgb(10,160,220);
	margin-left:5%;
	width:25%;
	margin-top:5%;
	font-size:1em;
	color:white;
	font-weight:bolder;
	font-family:"楷体";
	cursor:pointer;
	border-radius:5px;
	display:none;
}
#content .room_01{
	display:inline-block;
}
#rf_pop{
	width:100%;
	height:800px;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#rf_pop .screen{
	width:100%;
	height:100%;
	background:white;
	position:absolute;
	top:0;
	left:0;
	opacity:0.5;
}
#rf_pop .pop{
	position:absolute;
	width:50%;
	height:50%;
	left:30%;
	top:10%;
	opacity:1;
	border:solid 3px rgb(10,160,220);
	border-radius:5px;
	background:white;
}
#rf_pop .pop .info{
	font-size:1.5em;
	color:rgb(10,160,220);
	font-weight:bolder;
	position:relative;
	left:30%;
	top:50px;
}
#rf_pop .pop .close{
	position:absolute;
	left:96%;
	top:-30px;
	cursor:pointer;
}
#rf_pop .pop .info div{
	margin-top:20px;
}
#rf_pop_btn{
	position:relative;
	left:28%;
	top:50px;
}
.button{
	width:300px;
	height:50px;
	background:rgb(10,160,220);
	cursor:pointer;
	font-size:1.5em;
	color:white;
	font-weight:bolder;
	border:solid 1px gray;
	border-radius:5px;
	margin-top:10px;
}
.button:hover{
	background:#285995;
}

#bt_title{
	position:relative;
	color:white;
	font-size:2em;
	font-weight:bolder;
	top:50px;
	left:40%;
	font-family:"楷体";
}
#book_table{
	display:none;
	margin-bottom:10%;
}
#book_table table{
	width:100%;
	height:70px;
	background:rgb(10,160,220);
	color:white;
	font-size:1.2em;
	font-weight:bolder;
	border-radius:5px;
}
#bt_btn{
	position:relative;
	left:10%;
}