@charset "utf-8";
#content .leftFrame{
	float:left;
	margin-top:50px;
	margin-left:30px;
	background:rgb(15,150,200);
	color:white;
	width:15%;
	height:60%;
}
#content .leftFrame .module{
	cursor:pointer;
	background:rgb(15,150,200);
	margin-top:-10px;
}
#content .leftFrame .frame_selected{
	background:rgb(15,120,170);
}
#content .leftFrame .module dt{
	font-size:1em;
	font-weight:bolder;
	height:50px;
	color:white;
	margin-left:10px;
}
#content .leftFrame .module dt .icon{
	width:20px;
	position:relative;
	top:8px;
}
#content .leftFrame .module dt .arrow{
	width:15px;
	left:5%;
	position:relative;
}
#content .leftFrame .module dd{
	position:relative;
	left:-40px;
	height:30px;
	width:100%;
	display:none;
}
#content .leftFrame .module dd a{
	margin-left:0px;
	font-size:1.1em;
	font-weight:bolder;
	margin-left:30px;
	color:white;
	text-decoration:none;
}